absl-py
altair
arabert
arabic-reshaper
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
duckdb
emoji
et-xmlfile
farasapy
filelock
flatbuffers
fonttools
fsspec
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
graphviz
grpcio
h5py
huggingface-hub
idna
importlib-metadata
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
mpmath
nltk
numpy
oauthlib
openpyxl
opt-einsum
packaging
pandas
Pillow
plotly
protobuf
PyArabic
pyarrow
pyasn1
pyasn1-modules
pydeck
pydot
pydotplus
pygame
Pygments
pyparsing
python-bidi
python-dateutil
pytz
PyYAML
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
six
sklearn
smmap
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
textblob
threadpoolctl
tk
tokenizers
toml
toolz
tornado
tqdm
transformers
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
Werkzeug
wordcloud
wrapt
zipp
